body {
	font-family: mono45-headline, monospace;
	font-style: normal;
}

.shipName {
	font-family: ethnocentric, sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* .shipCard{
    margin: 5px
} */
